
nav {
    background-color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-content: space-around;
    font-size: 20px;
}
.navbar-brand {
    padding-left: 100px;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 0px;
}

.navbar-collapse {
    color: rgb(22, 18, 20);
}

.navbar-collapse{
    padding-left: 2px;
    border-radius: 100%;
}

nav ul li {
    display: flex;
    align-content: space-around;
    margin-left: 30px;
    margin-top: 10px;
}

/*CARROSEL*/

#um{
    background-image: url(Images/Burguers/UltraBaixa/alta-mineta-\ 31.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding-top: 100px;
    padding-bottom: 200px;
    z-index: 2;
    align-content: center;
    align-items: center;
}

#um img{
    align-content: center;
    height: 400px;
    padding-bottom: -300px;
    padding-top: 50px;
}

#um h1{
    color:white;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 100px;
    text-shadow: gray;
}

#um p{
    color:white;
    font-weight:600;
}

#dois{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#dois .row{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#dois h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-bottom: 10px;
}

#dois p{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    margin-bottom: 40px;
    margin-bottom: 30px;
}

#dois img{
    align-items: center;
    align-content: space-around;
    border-radius: 20px;
    height: 300px;
    width: 200px;
}

#dois h3{
    text-justify: newspaper;
    text-align: start;
    color: goldenrod;
    font-family:  'Big Shoulders Display', cursive;
    font-size: 25px;
    letter-spacing: 3px;
}

#dois .carousel-caption h5{
    text-shadow: goldenrod 4px;
    text-align: start;
    color: white;
    text-transform: uppercase;
    text-emphasis: 20;
    font-weight:bolder;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    margin-bottom: -20px;

}

#dois p{
    font-family: 'Big Shoulders Display', cursive;
    color: white; 
    font-size:large;
    text-align: start;
}


#tres{
    background-image: url(Images/cerveja.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color:white;
    padding-top: 100px;
    padding-bottom: 200px;
    z-index: 2;
    align-content: center;
    align-items: center;
    text-align: center;
}

#tres h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 3px;
}


#tres h3{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

#tres p{
    font-size: 15px;
    text-align: center;
}

#tres img{
    height: auto;
    width: auto;
    margin-top: 30px;
    border-radius: 1%;
    border: 3px solid goldenrod;
    image-rendering: optimizeSpeed;
}

#umSobre{
    background-image: url(Images/cerveja.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    color:white;
    z-index: 2;
    align-content: center;
    align-items: center;
    display: flex;
    columns: 1;
}

#umSobre h1{
    color:white;
    font-size: 105px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 150px;
    text-shadow: gray;
}

#umSobre p{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: -20px;
    margin-bottom: 130px;
    font-size: 40px;
    letter-spacing: 2px;
}

#doisSobre {
    padding-top: 70px;
    padding-bottom: 70px;
}

#doisSobre h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    text-decoration: underline black;
}

#doisSobre p{
    text-align: center;
}



#umDelivery{
    background-image: url(Images/Burguers/UltraBaixa/alta-delivery_13\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    z-index: 2;
    align-content: center;
    align-items: center;
    display: flex;
    columns: 1;
}

#umDelivery h1{
    color:white;
    font-size: 105px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 150px;
    text-shadow: gray;
}

#umDelivery p{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: -20px;
    margin-bottom: 130px;
    font-size: 40px;
    letter-spacing: 2px;
}

#doisDelivery .textotil h2{
    font-size: 60px;
}

#doisDelivery{
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: lemonchiffon;
}

#doisDelivery .divisores{
    background-color: white;
    color: goldenrod;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: sticky;
    top: 96px;
    z-index: 1;
}

#doisDelivery .divisores h3{
    font-size: 30px;

}


#doisDelivery .card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 15px;
    text-align: start;
    font-size-adjust: auto;

}

#doisDelivery .card{
    border: goldenrod 2px solid;
    height: 100%;
}

#doisDelivery .card button{
    align-items: baseline;
    align-content: center;
    justify-content: flex-end;
}

#doisDelivery h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    text-decoration: underline dotted goldenrod;
}

#doisDelivery h3{
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-top: 10px;
}

#doisDelivery h5{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size:30px;
    color: black;
    font-style: none;
    text-decoration: none;
}

#doisDelivery hr{
    border: none;
    border-top: 3px dotted #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}


#doisDelivery .card img{
    image-rendering: optimizeSpeed;
}

/*MODAL*/
#doisDelivery .modal-header{
    background-color:goldenrod;
}

#doisDelivery .modal-body{
    background-color: lightgoldenrodyellow;
}

#doisDelivery .modal-body img{
    height: 250px;
    width: 100%;
}

#doisDelivery .modal-footer{
    background-color:goldenrod;
}

#doisDelivery .modal-body h3{
    font-size:40px;
    font-family:'Big Shoulders Display', cursive;
    text-align: start;
}

#doisDelivery .modal-body p{
    font-size:15px;
    text-align: start;
}




#tresDelivery{
    background-image: url(Images/alta-delivery_black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    color:white;
    z-index: 2;
    align-content: center;
    align-items: center;
    display: flex;
    columns: 1;
    padding-bottom: 100px;
    padding-top: 60px;
}

#tresDelivery h1{
    margin-top: 100px;
    font-family: 'Bebas Neue', cursive;
}

#tresDelivery p{
    margin-bottom: 12px;
}

#umLocalizacao{
    background-image: url(Images/Ambiente/1624928812386\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    color:white;
    z-index: 2;
    align-content: center;
    align-items: center;
    display: flex;
    columns: 1;
}

#umLocalizacao h1{
    color:white;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 170px;
    text-shadow: gray;
}

#umLocalizacao p{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: -20px;
    margin-bottom: 130px;
    font-size: 35px;
    letter-spacing: 2px;
}

#doisLocalizacao {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    align-content: center;
    text-align: center;
}

#doisLocalizacao .col-sm-12 img{
    margin-bottom: 12px;
}



/*MEDIA QUERYS*/

@media (max-width: 1700px)
{
  .navbar-brand
   {
    padding-left: 30px;
    font-size: 50px;
    font-weight: bolder;
   }

   nav ul li{
       font-size: 30px;
       padding-left: 60px;
   }

}

@media (max-width: 1350px)
{
  .navbar-brand
   {
    padding-left: 25px;
    font-size: 50px;
    font-weight: bolder;
   }

   nav ul li{
       font-size: 26px;
       padding-left: 18px;
   }

}

@media (max-width: 1100px)
{
  .navbar-brand
   {
    padding-left: 30px;
    font-size: 50px;
    font-weight: bolder;
   }

   nav ul li{
       font-size: 18px;
       padding-left: 12px;
   }

}

@media (max-width: 768px)
{
  .navbar-brand
   {
    padding-left: 10px;
    font-size: 35px;
    font-weight: bold;
   }

   #um{
    background-image: url(Images/Burguers/alta-mineta-\ 31-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 2;
    align-content: center;
    align-items: center;
    }

   #um img{
    align-content: center;
    height: 250px;
    margin-bottom: -50px;
    padding-top: 50px;
    margin-top: -50px;
    }

    #um h1{
        color:white;
        font-size: 35px;
        font-family: 'Bebas Neue', cursive;
        padding-top: 100px;
        text-shadow: gray;
        margin-bottom: -8px;
    }

    #um p{
        color:white;
        font-size: 15px;
    }

    #dois .sobe h3{
        margin-top: 20px;
    }

    #dois .carousel-caption h5{
        text-shadow: goldenrod 4px;
        text-align: start;
        color: white;
        text-transform: uppercase;
        text-emphasis: 20;
        font-weight:bolder;
        font-size: 25px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        margin-bottom: -10px;
    
    }

    #dois .carousel-caption p{
        font-size: 15px;
    }

    #tres h2{
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;
        font-weight: bolder;
        letter-spacing: 3px;
    }

    #tres{
        background-image: url(Images/Burguers/UltraBaixa/cerveja\ retrato.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: black;
        color:white;
        padding-top: 100px;
        padding-bottom: 200px;
        z-index: 2;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    #tres h3{
        font-family: 'Big Shoulders Display', cursive;
        font-size: 25px;
        
    }
    
    #tres p{
        font-size: 15px;
        text-align: center;
    }
    
    #tres img{
        height: auto;
        width: auto;
        margin-top: 30px;
        border-radius: 2%;
        border: 2px solid goldenrod;
    }

    #umSobre{
        background-image: url(Images/Burguers/UltraBaixa/cerveja\ retrato.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        color:white;
        z-index: 2;
        align-content: center;
        align-items: center;
        display: flex;
        columns: 1;
    }

    #umDelivery{
        background-image: url(Images/Burguers/UltraBaixa/del\ retrato.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color:white;
        z-index: 2;
        align-content: center;
        align-items: center;
        display: flex;
        columns: 1;
    }

    #doisDelivery .card-text{
    font-size: 10px;
    text-align: start;
    font-size-adjust: auto;
    }

    #doisDelivery .divisores{
        background-color: white;
        color: goldenrod;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
        position: sticky;
        top: 73px;
        z-index: 1;
    }    

    #doisDelivery .textotil h2{
        font-size: 30px;
    }

    #tresDelivery{
        background-image: url(Images/Burguers/UltraBaixa/alta-delivery_black\ retrato.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        color:white;
        z-index: 2;
        align-content: center;
        align-items: center;
        display: flex;
        columns: 1;
        padding-bottom: 100px;
        padding-top: 60px;
    }    

   .modal-header h5{
       font-size: 5px;
   }

   
    #umLocalizacao{
        background-image: url(Images/Ambiente/IMG_20210617_213604\ -\ retrato.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        color:white;
        z-index: 2;
        align-content: center;
        align-items: center;
        display: flex;
        columns: 1;
    }
}


@media (max-width: 425px)
{
  .navbar-brand
   {
    padding-left: 5px;
    font-display: block;
    font-weight: bold;
    font-size: 30px;
   }

   #doisDelivery .divisores{
    background-color: white;
    color: goldenrod;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: sticky;
    top: 66px;
    z-index: 1;
}


   #doisDelivery h5{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size:20px;
    color: black;
    font-style: none;
    text-decoration: none;
   }
}

@media (max-width: 320px)
{
  .navbar-brand
   {
    padding-left: 5px;
    font-display: block;
    font-weight: bold;
    font-size: 23px;
   }

   #doisDelivery .divisores{
    background-color: white;
    color: goldenrod;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: sticky;
    top: 56px;
    z-index: 1;
}


   #doisDelivery h5{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size:100%;
    color: black;
    font-style: none;
    text-decoration: none;
    }
}